<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statusboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="color-line"></div>
    <header>
        <div>
            <img src="<%= logo %>" alt="logo" width="80" height="80" />
        </div>
        <div style="margin-left: 20px;">
            <h1><b><%= orgName %></b> statusboard</h1>
            <p class="sub-title">Last update: <b><%= lastUpdate %></b></p>
        </div>
    </header>
    <main id="data">
        <div class="tags">
            <div class="tag" data-value="pkg-name"><p>package name</p></div>
            <div class="tag" data-value="license"><p>license</p></div>
            <div class="tag" data-value="private"><p>private</p></div>
            <div class="tag" data-value="type"><p>type</p></div>
            <div class="tag" data-value="node"><p>Node.js engine</p></div>
            <div class="tag" data-value="esm"><p>ESM</p></div>
            <div class="tag" data-value="fork"><p>fork</p></div>
            <div class="tag" data-value="fork-count"><p>fork count</p></div>
            <div class="tag" data-value="stars"><p>stars</p></div>
            <div class="tag" data-value="test"><p>test framework</p></div>
            <div class="tag" data-value="last-commit"><p>last commit date</p></div>
            <div class="tag" data-value="pr"><p>pr</p></div>
            <div class="tag" data-value="issues"><p>issues</p></div>
            <div class="tag" data-value="nyc"><p>nyc</p></div>
            <div class="tag" data-value="snyk"><p>snyk</p></div>
            <div class="tag" data-value="state"><p>dependencies outdated</p></div>
            <div class="tag" data-value="travis"><p>travis</p></div>
            <div class="tag" data-value="branch"><p>branch</p></div>
        </div>
        <div class="search-bar">
            <label for="search">filter projects:</label>
            <input class="search" placeholder="Search" />
        </div>
        <table>
            <thead>
                <tr>
                    <th class="sort" data-sort="name">name</th>
                    <th class="sort" data-sort="pkg-name">pkg name</th>
                    <th class="sort min" data-sort="version">version</th>
                    <th class="sort" data-sort="private">private</th>
                    <th class="sort" data-sort="node">Node</th>
                    <th class="sort" data-sort="type">type</th>
                    <th class="sort min" data-sort="esm">ESM</th>
                    <th class="sort" data-sort="license">license</th>
                    <th class="sort min" data-sort="fork">fork</th>
                    <th class="sort min" data-sort="fork-count">fork count</th>
                    <th class="sort" data-sort="test">test framework</th>
                    <th class="sort" data-sort="size">size</th>
                    <th class="sort min" data-sort="stars">stars</th>
                    <th class="sort" data-sort="last-commit">last commit date</th>
                    <th class="sort min" data-sort="pr">pr</th>
                    <th class="sort min" data-sort="issues">issues</th>
                    <th class="sort min" data-sort="nyc">nyc</th>
                    <th class="sort" data-sort="snyk">snyk</th>
                    <th class="sort" data-sort="travis">travis</th>
                    <th class="sort" data-sort="state">deps state</th>
                    <th class="sort" data-sort="dep">dep count</th>
                    <th class="sort" data-sort="devDep">devDep count</th>
                    <th class="sort" data-sort="branch">default branch</th>
                </tr>
            </thead>
            <tbody class="list">
                <% for (const project of projects) { %>
                <tr>
                    <td class="name">
                        <a href="<%= project.url %>">
                            <%= project.name %>
                        </a>
                    </td>
                    <td class="pkg-name"><%= project.package_name %></td>
                    <td class="version"><%= project.version %></td>
                    <td class="private"><%= project.private ? "✔️" : "❌" %></td>
                    <td class="node"><%= project.nodejs_version %></td>
                    <td class="type"><%= project.slimio_type %></td>
                    <td class="esm"><%= project.is_module ? "✔️" : "❌" %></td>
                    <td class="license"><%= project.license %></td>
                    <td class="fork"><%= project.fork ? "✔️" : "❌" %></td>
                    <td class="fork-count"><%= project.fork_count %></td>
                    <td class="test"><%= project.test_framework %></td>
                    <% if (project.private) { %>
                    <td class="size"><%= project.size %></td>
                    <% } else { %>
                    <td class="size"><img src="https://img.shields.io/github/languages/code-size/SlimIO/<%= project.name %>"></img></td>
                    <% } %>
                    <td class="stars"><%= project.stars %></td>
                    <td class="last-commit"><%= project.last_commit.date %></td>
                    <td class="pr"><%= project.pull_request.length %></td>
                    <td class="issues"><%= project.issues.length %></td>
                    <td class="nyc"><%= project.has_nyc ? "✔️" : "❌" %></td>
                    <td class="snyk"><img src="https://img.shields.io/snyk/vulnerabilities/github/SlimIO/<%= project.name %>"></img></td>
                    <td class="travis"><img src="https://img.shields.io/travis/com/SlimIO/<%= project.name %>"></img></td>
                    <td class="state"><img src="https://img.shields.io/david/SlimIO/<%= project.name %>""></img></td>
                    <td class="dep"><%= project.dependencies_count %></td>
                    <td class="devDep"><%= project.dev_dependencies_count %></td>
                    <td class="branch"><%= project.default_branch %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </main>
</body>
</html>
